/* Header - Logo */
#site-header {
    text-align: center;
    padding-top: 2%;
    font-family: "BeautyDream";
    font-size: 30px;
}

#site-header h5 {
    font-size: 30px;
}

#title{
    padding-bottom: 2%;
}

/* Home Card Background */
.card-1 {
    background-color: #98D0E7;
}

.card-2 {
    background-color: #D54C63;
}

.card-3 {
    background-color: #FECF70;
}

.card-4 {
    background-color: #F7E6D8;
}

/* Home */
#home {
    padding: 0% 15% 7%;
}

#carouselExampleControls h2 {
    font-family: "Futura";
    font-size: 50px;
    position: relative;
}

/* Card 1  */
.img-card-1 {
    position: relative;
    left: 35%;
    height: 470px;
}

.card-1 h2 {
    top: 60%;
    color: white;
}

/* Card 2 */
.img-card-2 {
    position: relative;
    left: 25%;
}

.card-2 h2 {
    color: #ffff;
    top: 40%;
    left: 10%;
}

/* Card 3 */
.card-3 h2 {
    color: #9C7C62;
    top: 35%;
    left: 23%;
}

/* Card-4 */
.card-4 h2 {
    left: 30%;
    top: 20%;
    color: #D54C63;
}

.img-card-4{
   
}
/* About Us */
#about-us {
    background-color: #FEF6F8;
    height: 360px;
    /* text-align: center; */
    padding: 3% 15% 3%;
    font-family: "GTWalsheimProRegular";
}

#about-us p{
    font-size: 20px;
    line-height: 27px;
    margin-top:30px;
}

#about-us h2 {
    font-family: Futura;
    font-style: italic;
    font-weight: 500;
    font-size: 50px;
}


/* Collection */

#collection {
    padding-top: 12%;
    padding-bottom:12%;
    font-family: "Futura";
    font-weight: 500;
    font-style: italic;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;


}

.scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;

}


.card {
    flex: 0 0 auto;
    /* height: 290px;
    width: 390px; */
    margin-left: 40px;
    margin-right: 40px;
    border: none !important;

}

#collection h1 {
    font-size: 50px;
    margin-top: 110px;

}

.arrow {
    margin-left: 45px;
    margin-top: 30px;

}

.arrow h4 {
    left: 24%;
    position: absolute;
    top: 48%;
}

#collection a {
    color: black;
}

#collection a:hover {
    color: #d24967;
}


#contact{
    padding: 3% 0%;
    background-color: #FEF6F8 ;
    font-family: "Futura";
}

#contact

.contact-icon{
    padding-top:30px;
}



/* Mobile Version */
@media only screen and (max-width:990px) {
    #site-header {
        display: none;
    }
}

/* Navigation Bar */
.navbar-nav>li {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "GT Walsheim Pro Regular";
    font-weight: bold;
    font-size:25px;
    margin-top:20px;
}

.navbar-brand {
    font-family: "BeautyDream";
    font-size: 2rem !important;
}



@media only screen and (max-width:990px) {
    #home {
        padding: 0 0 0 0 !important;
    }
    .navbar-nav>li{
        font-size:15px;
    }
    /* Heading 2 Mobile */
    #carouselExampleControls h2 {
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        left: 27%;
    }

    #carouselExampleControls br{
        display: none;
    }

    

    /* Card 1 Mobile */
    .img-card-1 {
        height: 448px;
        position: relative;
        left: 4%;

    }

    /* Card 2 Mobile */
    .img-card-2 {
        position: relative;
        top: 30%;
        left: 10%;
        width: 80%;
    }

    .card-2 h2 {
        top: -490%
    }

    /* Card 3 Mobile */
    .card-3 h2 {
        top: 70% !important;
    }

    .img-card-3 {
        width: 80%;
        position: relative;
        left: 10%;
        top: 7%;

    }

    /* Card 4 Mobile */
    .img-card-4 {
        width: 81.5%;
        left: 10%;
        position: relative;
        top: 5%;
    }

    .card-3 h2 {

        top: 45%;
    }


    /* About Us Mobile Ver */
    #about-us {
        margin-top: 20%;
        padding-left: 0%;
        padding-right: 0%;
    }

    #about-us br{
        display: none;
    }

    #about-us h2 {
        font-size: 30px;
    }

    #about-us p {
        font-size: 15px;
        line-height: 24px;
    }

    /* Collection  Mobile Ver*/
    #collection {
        padding-top: 20%;
    }

    #collection h1 {
        font-size: 30px;
        margin-top: 0;

    }

    .arrow h4 {
        font-size: 15px;
        ;
        left: 30%;

    }

    .scrolling-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .img-arrow {
        left: 5%;
        position: relative;
        margin-bottom: 13%;
    }
}

}

/* Font  */



@font-face{

    font-family: 'GTWalsheimProRegular';
    src: url('Font/GTWalsheimPro-Regular.eot');
    src: url('Font/GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('Font/GTWalsheimPro-Regular.woff2') format('woff2'),
         url('Font/GTWalsheimPro-Regular.woff') format('woff'),
         url('Font/GTWalsheimPro-Regular.svg#GTWalsheimPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    
    }

    
@font-face {

    font-family: 'BeautyDream';
    src: url('Font/Beauty-Dream.eot');
    src: url('Font/Beauty-Dream.eot?#iefix') format('embedded-opentype'),
         url('Font/Beauty-Dream.woff2') format('woff2'),
         url('Font/Beauty-Dream.woff') format('woff'),
         url('Font/Beauty-Dream.svg#Beauty-Dream') format('svg');
    font-weight: normal;
    font-style: normal;
    
    }
    @import url(https://db.onlinewebfonts.com/c/4417812509ea84242dcf790e829ca350?family=GT+Walsheim+Pro+Regular);

    @font-face {font-family: "GT Walsheim Pro Regular"; src: url("https://db.onlinewebfonts.com/t/4417812509ea84242dcf790e829ca350.eot"); src: url("https://db.onlinewebfonts.com/t/4417812509ea84242dcf790e829ca350.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/4417812509ea84242dcf790e829ca350.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/4417812509ea84242dcf790e829ca350.woff") format("woff"), url("https://db.onlinewebfonts.com/t/4417812509ea84242dcf790e829ca350.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/4417812509ea84242dcf790e829ca350.svg#GT Walsheim Pro Regular") format("svg"); }